<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="mSite/static/images/logo.png">
    <link rel="stylesheet" href="mSite/static/CSS/index.css">
    <link rel="stylesheet" href="mSite/static/CSS/style.css">

    <title>人物图鉴 - 原木的OC世界观</title>

    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/JavaScript" src="./static/JS/general.js"></script>

</head>

<body>
    图鉴
</body>
</html>