<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://pic.imgdb.cn/item/658183dbc458853aef5555aa.png">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="stylesheet" href="../static/CSS/style.css">

    <title>角色图鉴 - 原木的OC世界观</title>

    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/JavaScript" src="../static/JS/general.js"></script>
</head>

<body>
    <a href="../../index.html">
        <div class="cube backhome" style="background-color: var(--var-color-white)"></div>
    </a>
    <div class="banner">
        <a href="relationship.html"><div>关系网</div></a>
        <a href="javascript:location.reload()"><div>角色图鉴</div></a>
        <a href="daydreams.html"><div>白日梦</div></a>
    </div><div id="line" class="banner_line"></div>

    <!--背景-->
    <div id="BG">
        <img class="BG_image" src="https://pic.imgdb.cn/item/65818391c458853aef546b5a.png" />
    </div>

    <div id="main">
        <div class="center">
            <div>< 图鉴 ></div>
            <div>在做了在做了……(QwQ  )</div>
        </div>
    </div>

</body>
</html>