<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/images/logo.png" />
    <link rel="stylesheet" href="../static/CSS/style.css" />
    <link rel="stylesheet" href="../static/CSS/relationship.css" />

    <title>关系图谱 - 原木的OC世界观</title>

    <script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/JavaScript" src="../static/JS/general.js"></script>
</head>

<body style="overflow-y: hidden;">

    <script>
        console.log(checkAgent())
        if (checkAgent() == 'Phone') {
            window.location.replace("/?plat=Phone")
        }
    </script>

    <!--加载动画-->
    <!--
    <div id="loading">
        <div id="load">
            <span></span><span></span><span></span><span></span><span></span>
        </div>
        <div>Loading</div>
    </div>
    -->

    <!--抬头菜单栏-->
    <a href="../../index.html">
        <div class="cube backhome" style="background-color: var(--var-color-white)"></div>
    </a>
    <div class="banner">
        <a href="javascript:location.reload()"><div>关系网</div></a>
        <a href="pictorial.html"><div>角色图鉴</div></a>
        <div>人文地理</div>
    </div>

    <!--画布-->
    <div id="divid"></div>

    <!--详情界面-->
    <div id="relationBox" class="relation_box">
        <div style="display: flex;">
            <div id="r_photobox" class="relation_box_photo">
                <img id="r_photo" src="https://pic.imgdb.cn/item/6581c21dc458853aef4af4b2.png"/>
            </div>
            <div id="r_text" style="margin: 30px 0 0 10px; max-width: 55%">
                <h2 id="r_name" style="font-family: FZCuHeiSong, cursive, serif, sans-serif; font-weight:400; display: inline">N/A</h2>
                <p id="r_age" style="display:inline">（00）</p>
                <p id="r_name_eng">None</p>

                <div class="relation_box_line"></div>

                <p id="r_brief_1" style="margin-top: 10px">N/A</p>
            </div>
        </div>
        <div>
            <div style="margin:20px 30px">
                <p id="r_brief_2">N/A</p>
            </div>
        </div>
    </div>

    <script src="../static/JS/relationship.json?callback=getRelationship"></script>

    <!--引入D3库，绘图-->
    <script src="https://cdn.bootcdn.net/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
    <script>

        var dataL
        var dataC

        $(document).ready(function () {
            dataL = dataRelationship.links
            dataC = dataRelationship.characters
            showChart()
        })

        function showChart() {
            var options = {};
            options.backgroundColor = "";
            options.nodesFontSize = 14;
            options.lineFontSize = 10;
            options.lineColor = "#443c40";
            options.showExamples = true;
            options.examplesX = innerWidth / 2;
            options.examplesY = innerHeight / 2;
            drawChart("divid", options, dataL);
        }


        function drawChart(divid, options, dLinks, dataFilter) {
            var backgroundColor = options.backgroundColor; //背景颜色
            var nodesFontType = options.nodesFontType; //节点字体
            var nodesFontSize = options.nodesFontSize; //节点字号
            var lineFontType = options.lineFontType; //关系字体
            var lineFontSize = options.lineFontSize; //关系字号
            var lineColor = options.lineColor; //连线颜色

            var width = window.innerWidth; //画布宽
            var height = window.innerHeight; //画布高
            var svgChart = d3.select("svg");
            svgChart.remove();

            var tip = $(".tooltip");
            if (tip.length > 0) {
                tip.remove();
            }


            var sourceDatas = {};
            sourceDatas.links = [];
            for (var i = 0; i < dLinks.length; i++) {
                var jsonObj = {};
                jsonObj.source = dLinks[i].source;
                jsonObj.target = dLinks[i].target;
                jsonObj.sID = dLinks[i].sID;
                jsonObj.tID = dLinks[i].tID;
                jsonObj.relation = dLinks[i].relation;
                jsonObj.sourceImg = dLinks[i].sourceImg;
                jsonObj.targetImg = dLinks[i].targetImg;
                jsonObj.sourceColor = dLinks[i].sourceColor;
                jsonObj.targetColor = dLinks[i].targetColor;
                jsonObj.sourceRadius = dLinks[i].sourceRadius;
                jsonObj.targetRadius = dLinks[i].targetRadius;
                // 根据关系类型添加连接线的颜色
                switch (dLinks[i].relation) {
                    case " ":
                    case "主教":
                    case "主任":
                    case "王女":
                    case "大祭司":
                        jsonObj.lineColor = '#FFFFFF';
                        break;
                    case "员工":
                    case "神子":
                    case "服役":
                        jsonObj.lineColor = '#777777';
                        break;
                    default:
                        jsonObj.lineColor = lineColor;
                }
                sourceDatas.links.push(jsonObj);
            }
            var resourceLinks = sourceDatas.links;


            if (dataFilter != undefined && dataFilter.length > 0) {
                var indexArray = [];
                for (var i = 0; i < dataFilter.length; i++) {
                    for (var j = 0; j < resourceLinks.length; j++) {
                        if (resourceLinks[j].relation == dataFilter[i].relation && dataFilter[i].isShow == "false") {
                            indexArray.push(j);
                        }
                    }
                }
                if (indexArray.length > 0) {
                    var tempArray = [];
                    for (var j = 0; j < resourceLinks.length; j++) {
                        for (var i = 0; i < indexArray.length; i++) {
                            if (indexArray[i] != j) {
                                if (i == indexArray.length - 1) {
                                    tempArray.push(resourceLinks[j]);
                                    break;
                                }
                                continue;
                            } else {
                                break;
                            }

                        }
                    }
                    resourceLinks = tempArray;
                }
            }
            var links = resourceLinks;

            //关系分组
            var linkGroup = {};
            //对连接线进行统计和分组，不区分连接线的方向，只要属于同两个实体，即认为是同一组
            var linkmap = {};
            for (var i = 0; i < links.length; i++) {
                var key = links[i].source < links[i].target ? links[i].source + ':' + links[i].target : links[i]
                    .target + ':' + links[i].source;
                if (!linkmap.hasOwnProperty(key)) {
                    linkmap[key] = 0;
                }
                linkmap[key] += 1;
                if (!linkGroup.hasOwnProperty(key)) {
                    linkGroup[key] = [];
                }
                linkGroup[key].push(links[i]);
            }
            //为每一条连接线分配size属性，同时对每一组连接线进行编号
            for (var i = 0; i < links.length; i++) {
                var key = links[i].source < links[i].target ? links[i].source + ':' + links[i].target : links[i]
                    .target + ':' + links[i].source;
                links[i].size = linkmap[key];
                //同一组的关系进行编号
                var group = linkGroup[key];
                //给节点分配编号
                setLinkNumber(group);
            }

            //节点
            var nodes = {};
            //关系对应颜色
            var relationColor = {};

            for (let i = 0; i < links.length; i++) {
                links[i].source = nodes[links[i].source] || (nodes[links[i].source] = {
                    name: links[i].source,
                    id: links[i].sID,
                    color: links[i].sourceColor,
                    radius: links[i].sourceRadius
                });
                console.log(links[i])
                links[i].target = nodes[links[i].target] || (nodes[links[i].target] = {
                    name: links[i].target,
                    id: links[i].tID,
                    color: links[i].targetColor,
                    radius: links[i].targetRadius
                });
            }

            var sourceData = dLinks;
            for (var i = 0; i < sourceData.length; i++) {
                relationColor[sourceData[i].relation] = {
                    "relation": sourceData[i].relation,
                    "lineColor": sourceData[i].lineColor
                };
            }

            nodes = d3.values(nodes);
            relationColor = d3.values(relationColor);

            var examples_x = parseFloat(options.examplesX); //关系示例坐标x
            var examples_y = parseFloat(options.examplesY); //关系示例坐标y
            var examplesLength = 80;
            var examplesSize = Math.floor((width - examples_x) / examplesLength);
            var examplesRow = relationColor.length % examplesSize == 0 ? relationColor.length / examplesSize : Math
                .ceil(relationColor.length / examplesSize);
            //计算关系示列位置
            for (var i = 1; i <= relationColor.length; i++) {
                var num = i % examplesSize == 0 ? examplesSize : i % examplesSize;
                relationColor[i - 1].x = examples_x + (num - 1) * examplesLength;
                relationColor[i - 1].y = examples_y + 20 * Math.ceil(i / examplesSize);
            }
            if (dataFilter == undefined) {
                dataFilter = [];
                for (var i = 0; i < relationColor.length; i++) {
                    dataFilter.push({
                        "relation": relationColor[i].relation,
                        "isShow": "true"
                    });
                }
            }


            //绑定相连节点
            for (var i = 0; i < nodes.length; i++) {
                for (var j = 0; j < links.length; j++) {
                    if (nodes[i].name == links[j].source.name) {
                        nodes[i][links[j].target.name] = {
                            name: links[j].target.name
                        };
                    }
                    if (nodes[i].name == links[j].target.name) {
                        nodes[i][links[j].source.name] = {
                            name: links[j].source.name
                        };
                    }
                }
            }
            //D3力导向布局
            var force = d3.layout.force()
                .nodes(nodes)
                .links(links)
                .size([width, height])
                .linkDistance(200)
                .charge(-1500)
                .start();
            // 全图缩放器
            var zoom = d3.behavior.zoom()
                .scaleExtent([0.8, 2.3])
                .on('zoom', zoomFn);
            var svg = d3.select("#" + divid).append("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("style", "background-color:" + backgroundColor)
                .call(zoom)
                .on('dblclick.zoom', null);
            // 背景图片
            var image = svg.append('image')
                .attr('href', '../static/images/BG.png')
            // 缩放层（位置必须在 container 之前）
            var zoomOverlay = svg.append('rect')
                .attr('width', width)
                .attr('height', height)
                .style('fill', 'none')
                .style('pointer-events', 'all');
            var container = svg.append('g')
                .attr('transform', 'scale(' + 0.8 + ')')
                .attr('class', 'container');


            function zoomFn() {
                const {
                    translate,
                    scale
                } = d3.event;
                container.attr('transform', 'translate(' + translate + ')scale(' + scale * 0.8 + ')');
            }

            //设置连接线
            var edges_path = container.selectAll(".edgepath")
                .data(links)
                .enter()
                .append("path")
                .style("stroke", function (d) {
                    if (d.lineColor == null) {
                        return lineColor;
                    } else {
                        return d.lineColor;
                    }
                })
                .style("stroke-width", 1.5)


            //关系说明
            var edges_text = container.selectAll(".linetext")
                .data(links)
                .enter()
                .append("svg:g")
                .attr("class", "linetext")
                .attr("fill-opacity", 1);

            edges_text.append("svg:text")
                .style("font-size", (12 + "px"))
                .style("font-family", lineFontType)
                .style("stroke", "rgba(5, 5, 5, 0.8)")
                .style("stroke-width", "3px")
                .style("fill", "#a4a4a4")
                .attr("paint-order", "stroke")
                .attr("y", ".33em")
                .attr('text-anchor', "middle")
                .text(function (d) {
                    return d.relation;
                });

            edges_text.insert('rect', 'text')
                .attr('width', function (d) {
                    return d.relation.length * lineFontSize;
                })
                .attr('height', function (d) {
                    return lineFontSize;
                })
                .attr("y", "-.6em")
                .attr('x', function (d) {
                    return -d.relation.length * lineFontSize / 2;
                })
                .style('fill', 'none');

            // 节点设置，包含圆形图片节点（人物头像）
            var circle = container.selectAll("circle")
                .data(nodes)
                .enter()
                .append("circle")
                .style("stroke", function (d) {
                    switch (d.color) {
                        case "#b195fe":  // 紫色
                            return "#b195fe"
                        case "#9b95fe":  // 蓝色
                            return "#9b95fe"
                        case "#c3b68b":  // 黄色
                            return "#c3b68b"
                        default:
                            return "#a6a6a6"
                    }
                })
                .style("stroke-width", "2px")
                .attr("r", function (d) {
                    return d.radius;
                })
                .attr("fill", function (d, i) {
                    //节点图片不为空是添加背景色
                    if (d.image == null) {
                        if (d.color == null) {
                            return "#000000";
                        }
                        return d.color;
                    } else {
                        //创建圆形图片
                        var defs = container.append("defs").attr("id", "imgdefs")

                        var catpattern = defs.append("pattern")
                            .attr("id", "catpattern" + i)
                            .attr("height", 1)
                            .attr("width", 1)

                        catpattern.append("image")
                            /* .attr("x", - (img_w / 2 - radius))
                            .attr("y", - (img_h / 2 - radius)) */
                            .attr("width", d.radius * 2)
                            .attr("height", d.radius * 2)
                            .attr("xlink:href", d.image)

                        return "url(#catpattern" + i + ")";
                    }

                })
                .on("mouseover", function (d, i) {
                    mouseOver(d, i)
                })
                .on("mouseout", function (d, i) {
                    //显示连线上的文字
                    edges_text.style("fill-opacity", 1);
                    edges_text.style("stroke-opacity", 1);
                    edges_path.style("opacity", 1);
                    circle.style("opacity", 1);
                    nodes_text.style("opacity", 1);

                })
                .on("click", function (d, i) {
                    click(d, i)
                })
                .call(force.drag);

            // 节点文字设置
            var nodes_text = container.selectAll(".nodetext")
                .data(nodes)
                .enter()
                .append("text")
                .style("font-size", (nodesFontSize + "px"))
                .style('font-weight', 'bold')
                .style("fill", function (d) {
                    switch (d.color) {
                        case "#b195fe":  // 紫色
                        case "#9b95fe":  // 蓝色
                        case "#c3b68b":  // 黄色
                            return "#000000"
                        default:
                            return "#d8d8d8"
                    }
                })
                .style("font-family", nodesFontType)
                .attr('x', function (d) {
                    var name = d.name;
                    //如果小于等于四个字符，不换行
                    if (name.length <= 4) {
                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * (name.length / 2))
                            .attr("dy", 5)
                            .text(function () {
                                return name;
                            });
                    } else if (name.length > 4 && name.length <= 6) {
                        var top = d.name.substring(0, 3);
                        var bot = d.name.substring(3, name.length);

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 1.5)
                            .attr("dy", -nodesFontSize * 0.5)
                            .text(function () {
                                return top;
                            });

                        d3.select(this).append('tspan')
                            .attr("dx", -(nodesFontSize * name.length / 2))
                            .attr("dy", nodesFontSize)
                            .text(function () {
                                return bot;
                            });
                    } else if (name.length > 7) {
                        var top = d.name.substring(0, 3);
                        var mid = d.name.substring(3, 6);
                        var bot = d.name.substring(6, name.length);

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 1.5)
                            .attr("dy", -nodesFontSize * 0.5)
                            .text(function () {
                                return top;
                            });


                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 3)
                            .attr("dy", nodesFontSize)
                            .text(function () {
                                return mid;
                            });

                        d3.select(this).append('tspan')
                            .attr("dx", -nodesFontSize * 2)
                            .attr("dy", nodesFontSize)
                            .text(function () {
                                return "...";
                            });
                    }
                })
                .on("mouseover", function (d, i) {
                    mouseOver(d, i)
                })
                .on("click", function (d, i) {
                    click(d, i)
                })
                .call(force.drag);
            //   拖动节点
            var drag = force.drag()
                .on("dragstart", function (d, i) {
                    d.fixed = true; //拖拽开始后设定被拖拽对象为固定
                    d3.event.sourceEvent.stopPropagation();
                })
                .on("dragend", function (d, i) {
                    d.fixed = false; //结束后恢复不固定
                })
                .on("drag", function (d, i) { });

            //力学图运动开始时
            force.on("start", function () { });

            //力学图运动结束时
            force.on("end", function () { });

            force.on("tick", function () {
                edges_path.attr("d", function (d) {
                    var tan = Math.abs((d.target.y - d.source.y) / (d.target.x - d.source
                        .x)); //圆心连线tan值
                    var x1 = d.target.x - d.source.x > 0 ? Math.sqrt(d.sourceRadius * d.sourceRadius / (
                        tan * tan + 1)) + d.source.x :
                        d.source.x - Math.sqrt(d.sourceRadius * d.sourceRadius / (tan * tan +
                            1)); //起点x坐标
                    var y1 = d.target.y - d.source.y > 0 ? Math.sqrt(d.sourceRadius * d.sourceRadius *
                        tan * tan / (tan * tan + 1)) + d.source.y :
                        d.source.y - Math.sqrt(d.sourceRadius * d.sourceRadius * tan * tan / (tan *
                            tan + 1)); //起点y坐标
                    var x2 = d.target.x - d.source.x > 0 ? d.target.x - Math.sqrt(d.targetRadius * d
                        .targetRadius / (1 + tan * tan)) :
                        d.target.x + Math.sqrt(d.targetRadius * d.targetRadius / (1 + tan *
                            tan)); //终点x坐标
                    var y2 = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt(d.targetRadius * d
                        .targetRadius * tan * tan / (1 + tan * tan)) :
                        d.target.y + Math.sqrt(d.targetRadius * d.targetRadius * tan * tan / (1 + tan *
                            tan)); //终点y坐标
                    if (d.target.x - d.source.x == 0 || tan == 0) { //斜率无穷大的情况或为0时
                        y1 = d.target.y - d.source.y > 0 ? d.source.y + d.sourceRadius : d.source.y - d
                            .sourceRadius;
                        y2 = d.target.y - d.source.y > 0 ? d.target.y - d.targetRadius : d.target.y + d
                            .targetRadius;
                    }
                    // 防报错
                    if (!x1 || !y1 || !x2 || !y2) {
                        return
                    }
                    if (d.linknum == 0) { //设置编号为0的连接线为直线，其他连接线会均分在两边
                        d.x_start = x1;
                        d.y_start = y1;
                        d.x_end = x2;
                        d.y_end = y2;
                        return 'M' + x1 + ' ' + y1 + ' L ' + x2 + ' ' + y2;
                    }
                    var a = d.sourceRadius > d.targetRadius ? d.targetRadius * d.linknum / 3 : d
                        .sourceRadius * d.linknum / 3;
                    var xm = d.target.x - d.source.x > 0 ? d.source.x + Math.sqrt((d.sourceRadius * d
                        .sourceRadius - a * a) / (1 + tan * tan)) :
                        d.source.x - Math.sqrt((d.sourceRadius * d.sourceRadius - a * a) / (1 + tan *
                            tan));
                    var ym = d.target.y - d.source.y > 0 ? d.source.y + Math.sqrt((d.sourceRadius * d
                        .sourceRadius - a * a) * tan * tan / (1 + tan * tan)) :
                        d.source.y - Math.sqrt((d.sourceRadius * d.sourceRadius - a * a) * tan * tan / (
                            1 + tan * tan));
                    var xn = d.target.x - d.source.x > 0 ? d.target.x - Math.sqrt((d.targetRadius * d
                        .targetRadius - a * a) / (1 + tan * tan)) :
                        d.target.x + Math.sqrt((d.targetRadius * d.targetRadius - a * a) / (1 + tan *
                            tan));
                    var yn = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt((d.targetRadius * d
                        .targetRadius - a * a) * tan * tan / (1 + tan * tan)) :
                        d.target.y + Math.sqrt((d.targetRadius * d.targetRadius - a * a) * tan * tan / (
                            1 + tan * tan));
                    if (d.target.x - d.source.x == 0 || tan == 0) { //斜率无穷大或为0时
                        ym = d.target.y - d.source.y > 0 ? d.source.y + Math.sqrt(d.sourceRadius * d
                            .sourceRadius - a * a) : d.source.y - Math.sqrt(d.sourceRadius * d
                                .sourceRadius - a * a);
                        yn = d.target.y - d.source.y > 0 ? d.target.y - Math.sqrt(d.targetRadius * d
                            .targetRadius - a * a) : d.target.y + Math.sqrt(d.targetRadius * d
                                .targetRadius - a * a);
                    }

                    var k = (x1 - x2) / (y2 - y1); //连线垂线的斜率
                    var dx = Math.sqrt(a * a / (1 + k * k)); //相对垂点x轴距离
                    var dy = Math.sqrt(a * a * k * k / (1 + k * k)); //相对垂点y轴距离
                    if ((y2 - y1) == 0) {
                        dx = 0;
                        dy = Math.sqrt(a * a);
                    }
                    if (a > 0) {
                        var xs = k > 0 ? xm - dx : xm + dx;
                        var ys = ym - dy;
                        var xt = k > 0 ? xn - dx : xn + dx;
                        var yt = yn - dy;
                    } else {
                        var xs = k > 0 ? xm + dx : xm - dx;
                        var ys = ym + dy;
                        var xt = k > 0 ? xn + dx : xn - dx;
                        var yt = yn + dy;
                    }
                    //记录连线起始和终止坐标，用于定位线上文字
                    d.x_start = xs;
                    d.y_start = ys;
                    d.x_end = xt;
                    d.y_end = yt;
                    return 'M' + xs + ' ' + ys + ' L ' + xt + ' ' + yt;
                });

                //更新连接线上文字的位置
                edges_text.attr("transform", function (d) {
                    // 防止报错
                    if (!d.x_start || !d.y_start || !d.x_end || !d.y_end) {
                        return
                    }
                    return "translate(" + (d.x_start + d.x_end) / 2 + "," + ((+d.y_start) + (+d
                        .y_end)) / 2 +
                        ")" + " rotate(" + Math.atan((d.y_end - d.y_start) / (d.x_end - d.x_start)) *
                        180 / Math.PI + ")";
                });


                //更新结点图片和文字
                circle.attr("cx", function (d) {
                    return d.x
                });
                circle.attr("cy", function (d) {
                    return d.y
                });

                nodes_text.attr("x", function (d) {
                    return d.x
                });
                nodes_text.attr("y", function (d) {
                    return d.y
                });
            });


            // 鼠标覆盖节点时显示
            function mouseOver(d, i) {
                // 隐藏其它连线上文字
                edges_text.style("fill-opacity", function (edge) {
                    if (edge.source === d || edge.target === d) {
                        return 1;
                    }
                    if (edge.source !== d && edge.target !== d) {
                        return 0;
                    }
                })
                // 隐藏其它连线上文字描边
                edges_text.style("stroke-opacity", function (edge) {
                    if (edge.source === d || edge.target === d) {
                        return 1;
                    }
                    if (edge.source !== d && edge.target !== d) {
                        return 0;
                    }
                })
                // 其它节点亮度调低
                circle.style("opacity", function (edge) {
                    var v = d.name;
                    if (edge.name == v || (edge[v] != undefined && edge[v].name == v)) {
                        return 1;
                    } else {
                        return 0.2;
                    }
                })
                // 其他连线亮度调低
                edges_path.style("opacity", function (edge) {
                    if (edge.source === d || edge.target === d) {
                        return 1;
                    }
                    if (edge.source !== d && edge.target !== d) {
                        return 0.2;
                    }
                })
                // 其他节点文字亮度调低
                nodes_text.style("opacity", function (edge) {
                    var v = d.name;
                    if (edge.name == v || (edge[v] != undefined && edge[v].name == v)) {
                        return 1;
                    } else {
                        return 0.2;
                    }
                })
            }
            // 鼠标点击节点事件
            function click(d, i) {
                changeBox(d.id)
                console.log(d)
            }
        }

        // 分配編號
        function setLinkNumber(group) {
            if (group.length == 0) return;
            if (group.length == 1) {
                group[0].linknum = 0;
                return;
            }
            var maxLinkNumber = group.length % 2 == 0 ? group.length / 2 : (group.length - 1) / 2;
            if (group.length % 2 == 0) {
                var startLinkNum = -maxLinkNumber + 0.5;
                for (var i = 0; i < group.length; i++) {
                    group[i].linknum = startLinkNum++;
                }
            } else {
                var startLinkNum = -maxLinkNumber;
                for (var i = 0; i < group.length; i++) {
                    group[i].linknum = startLinkNum++;
                }
            }

        }

    </script>

    <script>
        // 鼠标点击改变简介
        function changeBox(id) {
            my$('relationBox').style.opacity = 0.95;
            for (let key in dataC) {
                console.log("key:" + key + " id:" + id)

                // 开始赋值
                if (key == id) {
                    let item = dataC[key]
                    console.log(item)
                    my$("r_name").innerText = item.name  // 姓名

                    // 目标是人
                    if (key.length != 1) {
                        my$("r_age").innerText = "（" + item.age + "）"
                        // 切换图片
                        // 在获取到新图片之前先替换加载图片
                        checkOut(changeImg, "./static/images/" + id + "_head.png")
                        function changeImg(imgExist) {
                            if (imgExist) {
                                my$("r_photo").src = "./static/images/" + id + "_head.png"
                            }
                        }

                        // 调整格式
                        my$("r_photobox").style.display = "block"
                        my$("r_text").style.margin = "30px 0 0 10px"
                        my$("r_text").style.maxWidth = "55%"


                     // 目标是机构
                    } else {
                        my$("r_age").innerText = ""

                        // 调整格式
                        my$("r_photobox").style.display = "none"
                        my$("r_text").style.margin = "30px 0 0 30px"
                        my$("r_text").style.maxWidth = "70%"
                    }

                    var briefs = item.brief.split("&")
                    my$("r_name_eng").innerText = briefs[0]  //姓名英译
                    my$("r_brief_1").innerHTML = briefs[1]
                    my$("r_brief_2").innerHTML = briefs[2]
                    break
                }
            }
        }
    </script>

</body>
</html>