@charset "UTF-8";

.daydream_menu, .daydream_menu_p{
	height: 150px;
	margin: 20px 0; padding: 30px 40px;
	background-color:rgba(0, 0, 0, 40%);
	border-radius: 5px;
}
.daydream_menu_p{
	margin: 20px 0; padding: 15px 20px;
}


.daydream_tags{
	display: flex;
	flex-direction: vertical;
	margin-top: 20px;
}

.daydream_tag, .daydream_tag_selected{
	min-width: 10px; height: 20px;
	background-color: #222222;
	border-radius: 20px;
	border: 2px solid #888888;
	margin: 0 5px 10px 0; padding: 3px 8px;
	font-size: small;
}
	.daydream_tag:hover{
		background-color: gray;
		color: black;
	}

.daydream_tag_selected{
	background-color: var(--var-color-lightblue);
	color: #222222;
	font-weight: bold;
}


.daydream_list{
	width: 75%;
	margin-left: 10px;
}
.daydream_list_p{
	width: 100%;
	margin: auto;
}

.daydream_sideList{
	width: 20%;
	display: flex;
	flex-direction: raw;
	padding-left: 30px;
}


.daydream_item, .daydream_item_p{
	display: flex;
	flex-direction: column;
	min-height: 50px;
	margin: 0 0 20px 0; padding: 30px 40px;
	background-color:rgba(0, 0, 0, 40%);
	border-radius: 5px;
}
	.daydream_list p, .daydream_list_p p{
		text-indent: 2em;	/*首行缩进*/
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: all 0.8s;
	}
	.daydream_list p:hover, .daydream_list_p p:hover{
		-webkit-line-clamp: 100;
	}
	.daydream_list span, .daydream_list_p span{
		display: block;
		text-indent: 2em;	/*首行缩进*/
	}

.daydream_item_p{
	min-height: 40px;
	margin: 0 0 10px 0; padding: 15px 20px;
}
	.daydream_list_p p{
		text-indent: 1em;
	}
	.daydream_list_p span{
		text-indent: 1em;
	}


.daydream_time{
	margin: 10px 5px 0 0;
	align-self: flex-end;
}

.daydream_buttons{
	display:flex;
	flex-direction: row-reverse;
	height: 50px;
	padding-right: 25%;
}

.daydream_button, .daydream_button_top{
	width: 30px; height: 30px;
	margin: 10px; padding: auto;
	background-color: black;
	border-radius: 15px;
	border: 2px solid #555555;
	text-align: center;/*内容水平居中*/
    line-height: 28px;/*内容垂直居中*/
	font-size: large;
	font-weight: bold;
	opacity: 0.6;
}
	.daydream_button:hover, .daydream_button_top:hover{
		background-color: gray;
		color: black;
		opacity: 0.8
	}
.daydream_button_top{
	border: 2px solid #666666;
	margin: 10px 5px;
}