@charset "UTF-8";

@font-face {
    font-family: 'FZCuHeiSong'; /*方正粗黑宋*/
    src: url(../fonts/FZCuHeiSong.eot);
    src: url(../fonts/FZCuHeiSong.eot#iefix) format('embedded-opentype'),
        url(../fonts/FZCuHeiSong.woff) format('woff'),
        url(../fonts/FZCuHeiSong.ttf) format('truetype');
}

/*颜色*/
:root {
    --var-color-white: #b5b5b5;
    --var-color-gray: #888888;
    --var-color-blue: #7086ff;
    --var-color-lightblue: #b1c6ff;
    --var-color-lightgrayblue: #a7b0c8;
    --var-color-darkblue: #000549;
    --var-color-darkgrayblue: #5a6275;
}

/*========统一格式样式========*/
/*初始化元素，清除内外边距，设置默认鼠标*/
* {
    padding: 0; margin: 0; 
    cursor: url(../images/cursor/pointer.png), default
}
/*清除a标签样式*/
a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
    a:hover, a:visited, a:link, a:active {
        color: var(--var-color-white);
    }

body {
    background-color: rgb(3, 3, 3);
    color: var(--var-color-white);
    overflow-x: hidden; /*隐藏横向滚动条*/
    padding-top: 50px;
}
/*滚动条样式*/
body::-webkit-scrollbar {
    width: 10px; /*竖滚动条的尺寸*/
    }
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(205, 205, 205, 0.6);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
    body::-webkit-scrollbar-thumb:hover {
        background-color: rgb(220, 220, 220);
    }

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.1);
}

#BG {
    position: fixed;
    z-index: -100;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient( rgb(40,40,40), rgb(3,3,3) );
}
.BG_image {
    width: 100%; height: 1652px;
    min-height: 750px;
}

/*透明主框图*/
#main{
    margin: auto;
    width: 75%; min-height: 600px;
}

/*网页抬头菜单栏*/
.banner{
    margin: auto; /*居中与文本居中*/
    text-align: center;
    width: 100%; min-height: 30px;
    position: fixed;
    left: 0; top: 0; z-index: 20;
    padding: 10px 0px;
    margin: 0 0 10px 0;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}/*菜单栏内部文字*/
    .banner div {
        display: inline-block;
        width: 15%; min-width: 80px;
        padding: 5px;
        border-radius: 5px;
        color: aliceblue;
        background-color: rgba(225, 225, 225, 0.1);
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.5s;
    }
    .banner div:hover{
        opacity: 1;
        background-color: rgba(225, 225, 225, 0.9);
        color: rgb(28, 28, 28);
        font-weight: bold;
        transition: all 0.5s;
    }

.banner_logo {
    position: absolute;
    left: 3%; top: -1px;
    width: 20%;
    max-width: 120px; max-height: 120px;
    background-color: rgb(220, 220, 220, 0.05);
    opacity: 0.9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}
.banner_logo_p {
    position: absolute;
    left: 3%; top: 49px;
    width: 20%;
    max-width: 120px; max-height: 120px;
    background-color: rgb(220, 220, 220, 0.05);
    opacity: 0.9;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}
.banner_line {
    position: fixed;
    z-index: -10;
    left: 10%;
    width: 3px; height: 100%;
    background-color: var(--var-color-blue);
    opacity: 0;
}

/*透明盒子*/
.box {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


/*左下角声明*/
.notice {
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 5px;
    z-index: 100;
    background-color: rgb(28, 28, 28, 0.8);
    color: rgb(240, 248, 255, 0.3);
    font-size: x-small;
}
.notice:hover{
    background-color: rgb(28, 28, 28);
    color: rgb(240, 248, 255, 0.6);
}

/*========================*/


/*=======统一部件样式=======*/
.line{
    background-color: rgba(200, 200, 200, 30%);
    height: 2px;
}
.line_blue {
    background-image: linear-gradient(to right, aliceblue, #526fff);
    opacity: 0.6;
    height: 2px;
}
.cube, .cubeBackhome{
    background-color: var(--var-color-darkblue);
    width: 20px; height: 20px;
    transform: rotate(45deg);
    margin: 10px;
}
.cubeBackhome{
    position: fixed;
    top: 5px; left: 1%;
    z-index: 25;
    opacity: 0.6;
    cursor: pointer;
}
    .cubeBackhome:hover {
        opacity: 1;
    }
.to_top{
    position: fixed;
    bottom: 20px; right: 3%;
    width: 40px; height: 40px;
    background-color: black;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;/*内容水平居中*/
    line-height: 36px;/*内容垂直居中*/
    border: 2px solid #555555;
    opacity: 0.6;
}
    .to_top:hover {
        background-color: gray;
		color: black;
		opacity: 0.8
    }

/*文字*/
b {
    color: var(--var-color-lightblue);
}
.blue {
    color: var(--var-color-lightblue);
    font-family: 'FZCuHeiSong';
}
.gray {
    color: var(--var-color-gray);
    font-size: small;
}

/*居中*/
.center{
    display: flex;/*出于居中需要使用弹性布局*/
    flex-direction: column;/*item垂直方向排列*/
    align-items: center;/*内容垂直居中*/
    justify-content: center;/*内容水平居中*/
    width: 100%; height: 100%;
}
/*========================*/


/*========全局可用额外功能Class========*/
/*切换鼠标小手*/
.pointer {
    cursor: pointer;
}
/*========================*/


/*========加载动画========*/
.loading {
  width: 20px; height: 20px;
  z-index: 50;
  display: inline-block;
  position: absolute;
  margin: 20px;
  border: 2px solid #000;
  animation: rotation 2s linear infinite;
}

.loading:after,
.loading:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid var(--var-color-blue);
  width: 15px;
  height: 15px;
  animation: rotationBack 1.5s linear infinite;
  transform-origin: center center;
}

.loading:before {
  width: 10px;
  height: 10px;
  border-color: #000;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotationBack {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

/*========================*/

/*========跟随鼠标方块动画========*/
#square{
    position: fixed;
    z-index: -5;
    width: 50px; height: 50px;
    border-width: 4px;
    border-style: groove;
    border-color: #ff5773;
    box-shadow: 10px rgba(0, 0, 0, 0.8);
    opacity: 0;
    animation: sqr_rotate 5s linear infinite;
    transform: rotate(45deg)
}
@keyframes sqr_rotate {
    0% {transform: rotateZ(765deg);}
    100% {}
}
/*========================*/